* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    background: #777;
    color: #777;
}

#head {
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #ebebeb;
}

#top-nav {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #ebebeb;
}

#left {
    float: left;
    width: 495px;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    background-color: #ebebeb;
}

#left p {
    padding-bottom: 10px;
}

.main-content {
    border: 1px solid black;
    padding: 25px;
    color: #ebebeb;
    background: #777;
}

.main-content p {
    padding: 10px;
}

.tag {
    border: 1px solid black;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
}

.p {
    border: 1px solid black;
    color: #777;
    background: #ebebeb;
}

#right {
    width: 440px;
    float: right;
    border: 1px solid black;
    height: 257px;
    text-align: center;
    padding: 30px;
    margin-left: 20px;
    background-color: #ebebeb;
}

footer {
    clear: both;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    background-color: #ebebeb;
}

.clear-fix {
    clear: both;
}